:root {
    --heading-background-color: pink;
    --heading-text-color: yellow;
    --heading-font:'montserrat' helvetica sans-serif;
    --padding: 1rem;
    --border: 1px solid rgb(0 0 0/ 0.1);
}
section {
    color: rgb(226, 130, 12);
    font-style: italic;
}
footer {
    color: blueviolet;
}
a {
    text-decoration: none;
}
body {
    width: 800px;
    margin: 0 auto;
}
.hero  {
    position: relative;
}
.hero img {
    display: block;
    width: 100%;
    height: auto;
}
.hero article img {
    float: right;
    width: 100px;
}
h1 {
    position: absolute;
    top: 1rem;
    left: 0;
    right: 0;
    text-align: center;
    color: white;
}
article {
    position: absolute;
    top: 10rem;
    width: 80%;
    background-color: rgba(210, 192, 207, 0.64);
    left: 0;
    right: 0;
    margin: 0 auto;
    color: black;
    padding: 2rem;
}
header {
    margin: 1rem auto;
	display: grid;
	grid-template-columns: 120px 1fr 1fr;
	border-bottom: 1px solid #ccc;
	max-width: 1000px;
}
.logo img {
	margin: 0 0.25rem 0 1rem;
	width: 64px;
	height: auto;
    align-items: start;
}
nav {
    display: flex;
    flex-wrap: wrap-reverse;
    align-content: space-around;
	padding: 0;
	font-family: Arial, sans-serif;
}
h2 {
    text-align: center;
    top: 1rem;
}
.thirdimage section img {
    text-align: center;
    top: 3rem;
}
.thirdimaget section p {
    text-align: left;
}
section img {
    justify-content: space-around;
}
figcaption {
    text-align: center;
    color: cornflowerblue;
}
.figure_flex {
    display: flex;
}
figure {
    margin: 0;
    padding: 5px;
}

