:root {
    --heading-background-color: #8ECAC6;
    --heading-text-color: #219EBC;
    --heading-font:'Bebas neue';
    --padding:1rem;
    --border:1px solid rgb(0 0 0/ 0.1);
}
h1 {
    font-style: 'Noto Sans';
    color: #023047;
    position: absolute;
}
section h2 {
    font-style: 'Noto Sans';
    color: #FFB703;
}
article p {
    padding: 0;
}
article img {
    right: 1px
}
section p {
    padding: 0;
}
footer p {
    padding: 0;
}
footer a {
    text-decoration: none;
}
html {
    width: 500px
}
.hero div {
    position: relative;
}
article {
    position: absolute;
    background-color: white;
    opacity: 0.9;
}
.hero img {
    display: block;
    width: 100%;
    height: auto;
}
