div {
    font-style: italic;
    color:rgba(255, 0, 217, 0.766);
}
section {
    color:rgb(226, 130, 12);
    font-style: italic;
}
footer {
    color:blueviolet;
}
a {
    text-decoration: none;
}
body {
    text-align: center;
    padding: 2px green;
    border: 1px solid black;
    background: white;
    max-width: 50%;
}
.hero div {
    position: relative;
}
.hero img {
    display: block;
    width: 100%;
    height: auto;
}
.article img {
    float: right;
    size: 10px;
}

