div {
    font-style: italic;
    color:rgba(255, 0, 217, 0.766);
    text-align: center ;
}
section {
    text-align: center;
    color:bisque;
    font-style: italic;
}
footer {
    text-align: center;
    color:blueviolet;
}
nav {
    text-align: center;
}
a {
    text-decoration: none;
}
